<div class  = 'previousMatch' >
    <table *ngFor="let item of pastGames" id = 'previousMatchContent' >
      
        <tr  style = "vertical-align: bottom; padding: 10px">
            <td><img src="../assets/{{item.homeTeam.id}}.png" width="70" height="70" style = "margin-left: 30px"></td>
            <td id ='mylistcolor' style="text-align: center">
             
                <table>
                  <tr style = "line-height: 40px">{{item.homeTeam.name}} {{item.score.fullTime.homeTeam}} - {{item.score.fullTime.awayTeam}} {{item.awayTeam.name}}</tr>
                  <tr style = "text-align: center; vertical-align: bottom">
                    <td><span>{{getDate(item)}}</span></td>
                  </tr>
                </table>
              
            </td>
            <td><img src="../assets/{{item.awayTeam.id}}.png" width="70" height="70" style = "margin-right: 30px"></td>
        </tr>
  
    </table>
  </div>