
 




 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-left{0%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}
.fade-in {
	-webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.slide-in-left{-webkit-animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94);animation:slide-in-left 1s cubic-bezier(.25,.46,.45,.94)}
.slide-in-right{-webkit-animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both}
.myclasssize{
  height: 687px;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.23em;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: black;
}

li {
float: left;
}

#fs{
  width:50px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 14px;
}



li a {
display: block;
color: white;
text-align: center;
padding: 15px 110px;
text-decoration: none;
border-bottom: 5px solid transparent;
}

li a:focus{
border-bottom: 5px solid red;
}

li a:hover{
  border-bottom: 5px solid red;
  }

.topbar{
  background-color: black;
  height: 80px;
  margin: 0;
  padding: 10px;
}

.winbar{
 position: relative;
 top: 100px;
}

.previousMatch { 
  position: relative;
  top: 140px;
}

.nextMatch{
  position: relative;
  top: 180px;
}

.navbar{
  position: relative;
  top: 220px;
  width: 100%;
  height: 65px;
  float: center;
  padding: 1060;
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.23em;
}

#tnav{
  text-align: center;     
}

#about {
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 80px;
  text-align: right;
  letter-spacing: 0.23em;
  margin: 0;
  cursor: pointer;
}

#about2{
  font-family: 'Montserrat', sans-serif;
  vertical-align: middle;
  color: black;
  font-weight: 500;
  font-size: 24px;
  line-height: 80px;
  text-align: right;
  letter-spacing: 0.23em;
  margin: 0;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 10px;
}

#SPFClogo{
  position: absolute;
  margin-left: -90px;
  top: 0;
  width: 180px;
  height: 180px;
}

#aboutdiv{
  position: absolute;
  top: 0;
  width: 100%;
  height: 2000px;
  background-color: #F0F0F0;
  display: none;
  opacity: 0.97;
}

#logo{
  text-align: center;
}


#barcontent{
  background-color: #e3e3e3;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.23em;
  padding-left: 10px;
  padding-right: 10px;
}

span {
  vertical-align: bottom;
  background-color: #e3e3e3; 
  border-radius: 10px 10px 0px 0px; 
  padding: 3px 15px 10px 15px;
}

#previousMatchContent{
  border-radius: 25px;
  border: 2px solid #e3e3e3;
  width: 550px;
  height: 80px;  
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15em;
}

#score{
  width:50px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 12px;

}


@media screen and (min-width: 1101px) {
  #li-h2h, #li-tb, #li-sq{
    width: 14%;
    height: 65px;
    
    text-align: center;
  }

  #li-pg, #li-ug{
    width: 29%;
    height: 65px;
    
    text-align: center;
  }
  

  li a{
    padding: 12.5px 0 7.5px 0;
  }

}

@media screen and (max-width: 1100px) {
  li {
  float: none;
  border-left: 0pt;
  border-right: 0pt;
  width: 100%;
  }
  
  .myclasssize{
    height: 1050px;
  }
  
}

@media screen and (max-width: 500px) {
  #previousMatchContent{
    width: 90%;
  }
  li a {
    font-size: 15px;
  }
}

