<!--The content below is only a placeholder and can be replaced.-->
<section>
<div class = 'myclasssize' >
        <div class = 'topbar'>
            <h1 id = 'about'>ABOUT</h1>
                <div id = 'logo'>
                 <img class = 'fade-in'id = 'SPFClogo'src="../assets/1776.png" alt="Sao Paulo Team logo">
                </div>
        </div>

      <div class = 'winbar'>
        <table id = 'barcontent' style="box-shadow: inset 0px 0px 0px 2px white">
          <td style ="border-right: 1.3pt solid white; width: 25px; "><img src="../assets/{{lastFive[4]}}" style = "margin-top: 6px;"></td>
          <td style ="border-right: 1.3pt solid white; width: 25px"><img src="../assets/{{lastFive[3]}}" style = "margin-top: 6px;"></td>
          <td style ="border-right: 1.3pt solid white; width: 25px"><img src="../assets/{{lastFive[2]}}" style = "margin-top: 6px;"></td>
          <td style ="border-right: 1.3pt solid white; width: 25px"><img src="../assets/{{lastFive[1]}}" style = "margin-top: 6px;"></td>
          <td><img src="../assets/{{lastFive[0]}}" style = "margin-top: 6px;"></td>
        </table>
      </div>

      <div class = 'previousMatch slide-in-left'>
        <p style = "margin: 0">PREVIOUS MATCH</p>
            <table id = 'previousMatchContent'>

                <tr  style = "vertical-align: bottom; padding: 10px">
                  <td><img src="../assets/{{pastGame.homeTeam.id}}.png" width="50" height="50" style = "margin-left: 30px"></td>
                  <td id ='mylistcolor' style="text-align: center">
                   
                      <table>
                        <tr style = "line-height: 40px">{{pastGame.homeTeam.name}} <a id ='fs'style="font-weight:500px">{{pastGame.score.fullTime.homeTeam}} - {{pastGame.score.fullTime.awayTeam}} </a>{{pastGame.awayTeam.name}}</tr>
                        <tr style = "text-align: center; vertical-align: bottom">
                          <td><span>{{getDate(pastGame)}}</span></td>
                        </tr>
                      </table>
                    
                  </td>
                  <td><img src="../assets/{{pastGame.awayTeam.id}}.png" width="50" height="50" style = "margin-right: 30px"></td>
              </tr>
            </table>
      </div>


      <div class  = 'nextMatch slide-in-right' >
        <p style = "margin: 0">NEXT MATCH</p>
        <table id = 'previousMatchContent'>
            
            <tr  style = "vertical-align: bottom; padding: 10px">
              <td><img src="../assets/{{upcomingGames.homeTeam.id}}.png" width="50" height="50" style = "margin-left: 30px"></td>
              <td id ='mylistcolor' style="text-align: center">
               
                  <table>
                    <tr style = "line-height: 40px">{{upcomingGames.homeTeam.name}} - {{upcomingGames.awayTeam.name}}</tr>
                    <tr style = "text-align: center; vertical-align: bottom">
                      <td><span>{{getDate(upcomingGames)}}</span></td>
                    </tr>
                  </table>
                
              </td>
              <td><img src="../assets/{{upcomingGames.awayTeam.id}}.png" width="50" height="50" style = "margin-right: 30px"></td>
          </tr>
        </table>
        
      </div>

      <div class = 'navbar'>
            <ul >
                <li id ='li-h2h'><a class="active" routerLink="/H2H">H2H</a></li>
                <li id ='li-pg'><a routerLink="/pastGames">PAST GAMES</a></li>
                <li id ='li-tb'><a id="a-tb" routerLink="/table">TABLE</a></li>
                <li id ='li-ug'><a routerLink="/upcomingGames">UPCOMING GAMES</a></li>
                <li id ='li-sq'><a routerLink="/squad">SQUAD</a></li>
            </ul>
      </div>
  </div>
</section>



<router-outlet >
  
</router-outlet>
