#all_list tr{
    background: #E3E3E3;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.23em;
    padding-left: 10px;
    padding-right: 10px;
    
    
    
}
table{
    border-spacing: 0px; 
    border-radius: 5px;
    border: 2px solid #000000;
}

tr:nth-child(even) {
    background:#E3E3E3;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 250;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.23em;

    
   
   
}
tr:nth-child(odd) {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 250;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.23em;

}
